/* PAGE RESET */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* GENERAL STYLINGS */
body {
  font-family: 'Abel', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

/* UTILITY CLASSES */
.u_container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem 2rem;
  overflow: hidden;
}

.u_l-heading {
  font-size: 2.8rem;
  text-transform: uppercase;
  text-align: center;
}

.u_m-heading {
  font-size: 2rem;
}

.u_s-heading {
  font-size: 1.3rem;
}

.u_btn {
  background: #505050;
  border: 0.5px solid #eeeeee;
  padding: 0.5rem 5rem;
  color: #eeeeee;
  font-size: 0.8rem;
  margin: 1rem;
  font-family: 'Abel', sans-serif;
}

.u_btn:hover {
  cursor: pointer;
  color: #505050;
  background: #eeeeee;
  border: 0.5px solid #505050;
}

.u_btn-light {
  background: #eeeeee;
  border: 0.5px solid #505050;
  padding: 0.5rem 1rem;
  color: #505050;
  font-size: 0.8rem;
  font-family: 'Abel', sans-serif;
  text-align: center;
}

.u_btn-light:hover {
  cursor: pointer;
  color: #eeeeee;
  background: #505050;
  border: 0.5px solid #eeeeee;
}

/* ALERT */
.alert {
  position: fixed;
  top: 5rem;
  z-index: 1;
  padding: 1rem;
}

.success {
  background: green;
}

.success p {
  color: white;
}

.failure {
  background: red;
}

.failure p {
  color: white;
}

/* DIALOGUE */
.dialogue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 15rem;
  left: 32rem;
  z-index: 1;
  padding: 2rem;
  background: #505050;
  color: #eeeeee;
  width: 20rem;
}

.dialogue p {
  padding: 1.5rem;
}

.dialogue div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 20rem;
}

.dialogue div button {
  padding: 0.7rem;
}

/* NAVBAR */
.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar ul li {
  padding: 1rem;
  font-size: 1.2rem;
}

.nav-light ul li a {
  color: white;
}

.nav-light .fas {
  color: white;
}

.nav-black {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #eeeeee;
}

.nav-black a {
  width: 12%;
  height: 12%;
  padding: 1.3rem 0 0 1.8rem;
}

.nav-black ul li a {
  color: black;
  padding: 0 0.5rem;
}

.nav-black ul li a:hover {
  color: black;
  border-bottom: 1.4px solid black;
}

.navbar ul li a:hover {
  padding-bottom: 0.3rem;
  border-bottom: 1.4px solid white;
}

.navbar .fas {
  margin: 0;
  color: #505050;
}

/* SHOWCASE */
.showcase {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(230, 230, 230, 0.3))), url(/images/vikki-showcase.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(230, 230, 230, 0.3)), url(/images/vikki-showcase.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.showcase-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8rem;
  color: white;
}

.showcase-content img {
  width: 400px;
  margin-bottom: 2rem;
}

.showcase-content h1 {
  text-decoration: overline underline;
  padding-bottom: 1rem;
  font-family: serif;
  font-size: 5rem;
}

.showcase-content p {
  font-size: 1.5rem;
  padding: 0.2rem;
  text-transform: uppercase;
}

/* PRODUCTS INTRO */
.products-intro {
  text-align: center;
  padding-bottom: 2rem;
}

.product-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-content h1 {
  margin: 1.5rem 0 2rem 0;
}

.product-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.8rem;
}

.product {
  text-align: center;
  width: 19rem;
  height: 25rem;
  margin: 1rem 1rem;
}

.product img {
  opacity: 0.8;
  height: 330px;
}

.product img:hover {
  opacity: 1;
  cursor: pointer;
}

.products-intro a {
  padding: 0.8rem 2.5rem;
  text-align: center;
  width: 17%;
}

/* ABOUT */
.about {
  text-align: center;
}

.about-content {
  margin: 2rem 0;
}

.about-content p {
  padding: 2rem;
}

.products h1 {
  text-align: center;
  margin: 2rem 0;
}

/* PRODUCTS PAGE */
.flex-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/* PRODUCT DETAIL PAGE */
.prod-detail-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
}

.prod-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 4fr 2fr;
      grid-template-rows: 4fr 2fr;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.prod-images img {
  width: 100%;
  border: 1px solid #eeeeee;
}

.prod-images img:first-child {
  height: 25rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 1 / 1 / span 1 / span 4;
}

.prod-images img:first-child:nth-child(n+2) {
  height: 80%;
}

.form-container .u_btn {
  width: 44%;
  margin-left: 0;
}

.form-container .prod input {
  padding: 0.5rem;
}

.form-container .prod label {
  padding-right: 1rem;
}

.prod-content p {
  margin: 1.2rem 0;
}

.prod-content .form-container {
  margin-left: 0;
  padding-left: 0;
  margin-top: 1.5rem;
}

/* SIZING PAGE */
.sizing {
  text-align: center;
  margin: 6rem 0;
}

/* CONTACT PAGE */
.contact h1 {
  text-align: center;
}

.contact-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  min-height: 80vh;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid black;
  height: 450px;
  padding-top: 1.2rem;
}

.contact-container i {
  color: black;
  font-size: 2.5rem;
  padding: 1.5rem;
}

.contact-social {
  margin: 3rem;
}

.contact-social a i {
  font-size: 4rem;
}

.contact .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 3rem;
  margin-top: 2rem;
}

.contact .form-element {
  margin: 0.6rem;
}

.contact .form-element input {
  padding: 0.4rem;
  margin-top: 0.8rem;
}

.contact .form-element input label {
  padding-bottom: 2.5rem;
}

.contact .form-element input label textarea, .contact .form-element input label input {
  border: 0.5px solid #505050;
  width: 60%;
}

/* CART PAGE */
.cart-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2;
      grid-template-columns: 2;
}

.cart-section > div:last-child {
  -ms-grid-column: 2;
  grid-column: 2;
}

#cart-items {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  width: 80vw;
  margin: 0 auto;
}

#cart-items i {
  color: #9b9b9b;
}

#cart-items i:hover {
  cursor: pointer;
  color: red;
}

#cart-items > div {
  border-bottom: #9b9b9b 0.7px dotted;
}

.cart-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-columns: 2fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 6rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  margin: 0 auto;
  border-bottom: #505050 0.7px dotted;
}

.cart-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-rows: 5rem;
  justify-items: center;
  grid-gap: 2rem;
}

.cart-item img {
  width: 70px;
}

.cart-item input {
  width: 3rem;
  padding: 0.4rem;
}

.cart-item > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.cart-summary {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  width: 18rem;
  border: #9b9b9b 1px dotted;
  margin: 3rem 0;
  padding: 1.2rem 2rem;
  grid-column-gap: 0.8rem;
}

.cart-summary h2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  text-align: right;
}

.cart-summary span {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  text-align: right;
}

/* FOOTER */
#footer {
  background: #505050;
  color: white;
}

.grid-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  margin-bottom: 1rem;
}

.grid-foot ul li a {
  color: white;
}

.fab {
  font-size: 1.8rem;
  color: white;
}

.fab:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.copyrightbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #505050;
  padding: 0.5rem 4rem;
  font-size: 0.7rem;
}

.foot-item {
  width: 14rem;
}

.foot-item input {
  width: 80%;
  padding: 0.4rem;
}

.foot-item:nth-child(2n) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.foot-item:nth-child(2n) input {
  width: 90%;
  margin: 0.3rem 0;
  padding: 0.4rem;
}

.foot-item:nth-child(2n) input ul li a:hover {
  color: black;
}

.foot-item p, i, li {
  margin: 0.5rem 0;
}

.bg-modal {
  background: rgba(219, 219, 219, 0.8);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 2rem;
  background: #505050;
  color: #eeeeee;
  width: 20rem;
}

.bg-content p {
  padding: 1.5rem;
  font-size: 1.3rem;
}

.bg-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 20rem;
}

.bg-content div button {
  padding: 0.7rem;
}

.bg-content div button:hover {
  cursor: pointer;
}

.close {
  position: absolute;
  top: 2px;
  right: 15px;
  font-size: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close:hover {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */