/* PAGE RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL STYLINGS */

$darkColor: rgb(80, 80, 80);
$midColor: rgb(155, 155, 155);
$lightColor: rgb(238, 238, 238);

body {
  font-family: 'Abel', sans-serif;
}

a { 
  text-decoration: none;
}

li {
  list-style: none;
}

img { 
  width: 100%;
}


/* UTILITY CLASSES */ 

.u_container { 
  max-width: 1200px;
  margin: auto;
  padding: 1rem 2rem;
  overflow: hidden;
}

.u_l-heading {
  font-size: 2.8rem;
  text-transform: uppercase;
  text-align: center;
}

.u_m-heading {
  font-size: 2rem;
}

.u_s-heading {
  font-size: 1.3rem;
}

.u_btn {
  background: $darkColor;
  border: 0.5px solid $lightColor;
  padding: 0.5rem 5rem;
  color: $lightColor;
  font-size: 0.8rem;
  margin: 1rem;
  font-family: 'Abel', sans-serif;
  text-align: center;
}

.u_btn:hover {
  cursor: pointer;
  color: $darkColor;
  background: $lightColor;
  border: 0.5px solid $darkColor;
}

.u_btn-light {
  background: $lightColor;
  border: 0.5px solid $darkColor;
  padding: 0.5rem 1rem;
  color: $darkColor;
  font-size: 0.8rem;
  font-family: 'Abel', sans-serif;
  text-align: center;
}

.u_btn-light:hover {
  cursor: pointer;
  color: $lightColor;
  background: $darkColor;
  border: 0.5px solid $lightColor;
}

/* ALERT */ 

.alert {
  position: fixed;
  top: 5rem;
  z-index: 1;
  padding: 1rem;
}

.success {
  background: green;
  p {
    color: white;
  }
}

.failure {
  background: red;
  p {
    color: white;
  }
}

/* DIALOGUE */ 

.dialogue {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 15rem;
  left: 32rem;
  z-index: 1;
  padding: 2rem;
  background: $darkColor;
  color: $lightColor;
  width: 20rem;
  p {
    padding: 1.5rem;
  }
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 20rem;
    button {
      padding: 0.7rem;
    }
  }
  
}

/* NAVBAR */ 

.ham-navbar {
  display: flex;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
}

.navbar ul li {
  padding: 1rem;
  font-size: 1.2rem;
}

.nav-light {
  ul li a {
    color: white;
  }
  .fas {
    color: white;
    margin: 0;
  
  }
}

.nav-black {
  display: flex;
  justify-content: space-between;
  background: $lightColor;
  a {
    width: 12%;
    height: 12%;
    padding: 1.3rem 0 0 1.8rem;
  }
  ul li a {
    color: black;
    padding: 0 0.5rem;
    &:hover {
    color: black;
    border-bottom: 1.4px solid black;
    }
  }
}

.hamburger {
  display: none;
}

.navbar ul li a:hover {
  padding-bottom: 0.3rem;
  border-bottom: 1.4px solid white;
}

.nav-black .fas {
  margin: 0;
  color: $darkColor;
}

.navbar li:nth-child(6n) {
  font-size: 1.05rem;
  margin-top: 0.7rem;
  a {
    padding: 0.3rem;
  }
  span {
    padding-right: 4px;
  }
}

.ham-nav-container {
  display: flex;
}

/* SHOWCASE */

.showcase {
  background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(230,230,230,0.3)), url(/images/vikki-showcase-small.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.showcase-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  color: white;
  img {
    width:400px;
    margin-bottom: 2rem;
  }
  h1 {
    text-decoration: overline underline;
    padding-bottom: 1rem;
    font-family: serif;
    font-size: 5rem;
  }
  p {
    font-size: 1.5rem;
    padding: 0.2rem;
    text-transform: uppercase;
  }
}



/* PRODUCTS INTRO */

.products-intro {
  text-align: center;
  padding-bottom: 2rem;
}

.product-content {
  display: flex;
  flex-direction: column;
  h1 {
    margin: 1.5rem 0 2rem 0;
  }
}

.product-grid {
  display: flex;
  margin-bottom: 2.8rem;
}

.product {
  text-align: center;
  width: 19rem;
  height: 25rem;
  margin: 1rem 1rem;
  img {
    opacity: 0.8;
    height: 330px;
    &:hover {
    opacity: 1;
    cursor: pointer;
  }}}

.products-intro a {
  padding: 0.8rem 2.5rem;
  text-align: center;
  width: 17%;
}

/* ABOUT */

.about {
  text-align: center;
}

.about-content {
  margin: 2rem 0;
  p {
    padding: 2rem;
}}

.products h1 {
  text-align: center;
  margin: 2rem 0;
}

/* PRODUCTS PAGE */

.flex-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* PRODUCT DETAIL PAGE */

.prod-detail-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
}

.prod-images {
  display: grid;
  grid-template-rows: 4fr 2fr;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 1rem;
  img {
    width:100%;
    border: 1px solid $lightColor;
    &:first-child {
      height: 25rem;
      grid-area: 1 / 1 / span 1 / span 4;
    &:nth-child(n+2) {
      height: 80%;
}}}}

.form-container {
  display: grid;
  grid-template-rows: 1fr;
  input {
    width: 10%;
    margin-bottom: 0.5rem;
  }
  .u_btn {
    width: 50%;
    margin: 0.5rem 0;
  }
}


/* SIZING PAGE */

.sizing {
  text-align: center;
  margin: 6rem 0;
}

/* CONTACT PAGE */

.contact h1 {
  text-align: center;
}

.contact-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 80vh;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid black;
  height: 400px;
  padding-top: 1.2rem;
  i {
    color: black;
    font-size: 2.5rem;
    padding: 1.5rem;
}}


.contact-social {
  margin: 3rem;
  a i {
    font-size: 4rem;
}}

.contact .form-container {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  margin-top: 2rem;
}

.contact .form-element {
  margin: 0.6rem;
  input {
    padding: 0.4rem;
    margin-top: 0.8rem;
    width: 60%;
  label {
    padding-bottom: 2.5rem;
  textarea, input {
    border: 0.5px solid $darkColor;
    width: 60%;
}}}}


/* CART PAGE */

.cart-section {
  display: grid;
  grid-template-columns: 2;
  h1 {
    grid-column: 1 / span 2;
    padding-top: 1rem;
  }
  &> div:last-child {
    grid-column:2;
  }
}

#cart-items {
  grid-column: 1/3;
  width: 80vw;
  margin: 0 auto;
  i {
    color: $midColor;
    &:hover {
      cursor: pointer;
      color: red;
    }
  }
}

#cart-items > div {
  border-bottom: $midColor 0.7px dotted;
}

.cart-header {
  display: grid;
  grid-column: 1/3;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 6rem;
  justify-items: center;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
  border-bottom: $darkColor 0.7px dotted;
}

.cart-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  grid-auto-rows: 5rem;
  justify-items: center;
  grid-gap: 2rem;
  img {
    width: 70px;
  }
  input {
    width: 3rem;
    padding: 0.4rem;
  }
}

.cart-item > div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.cart-summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 18rem;
  border: $midColor 1px dotted;
  margin: 3rem 0;
  padding: 1.2rem 2rem;
  grid-column-gap: 0.8rem;
  h2 {
    grid-column: 1/3;
    text-align: right;
  }
  span {
    grid-column: 1/3;
    text-align: right;
  }

}



/* FOOTER */

#footer {
  background: $darkColor;
  color: white;
}

.grid-foot {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 1rem;
  ul li a {
    color: white;
}}

.fab {
  font-size: 1.8rem;
  color: white;
  &:hover {
    transform: scale(1.2);
}}

.copyrightbar {
  display: flex;
  justify-content: center;
  background: $darkColor;
  padding: 0.5rem 4rem;
  font-size: 0.7rem;
}

.foot-item {
  width: 14rem;
  input {
    width: 80%;
    padding: 0.4rem;
  }
  &:nth-child(2n) {
    display: flex;
    flex-direction: column;
    input {
      width: 90%;
      margin: 0.3rem 0;
      padding: 0.4rem;
    ul li a:hover {
      color:black;
}}}}

.foot-item p, i, li {
  margin: 0.5rem 0;
}




// TEST OF THE MODAL POPUP

.bg-modal {
  background: rgba(219, 219, 219, 0.8);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 2rem;
  background: $darkColor;
  color: $lightColor;
  width: 20rem;
  p {
    padding: 1.5rem;
    font-size: 1.3rem;
  }
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 20rem;
    button {
      padding: 0.7rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 30px;
  transform: rotate(45deg);
  &:hover {
    transform: rotate(270deg);
    cursor: pointer;
  }
}


// MEDIA QUERIES

@media only screen and (max-width: 415px) { 

  .u_l-heading {
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
  }

  // SHOPPING CART
  
 .cart-section {
   display: flex;
   flex-direction: column;
   margin-top: 3rem;
   h1 {
    border-bottom: $midColor 0.7px dotted;
    width: 65%;
    margin: 0 auto;
    padding-bottom: 10px;
   }
   .cart-header {
     display: none;
   }
 }

 .cart-items {
  display: none;
  flex-direction: column;
  margin-top: 2rem;

 }

 .cart-item {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.2rem;
  justify-items: left;
  padding: 1rem 0;
  .price {
    display: none;
  }
  img {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    margin-right: 1rem;
    width: 90px;
  }
  .name {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
  }
  input {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
    padding: 0.15rem;
  }
  .total {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }
  span .fas {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
  }
}

.cart-summary {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 80%;
  border: $midColor 1px dotted;
  margin: 3rem auto;
  h2 {
    text-align: center;
  }
  span {
    text-align: center;
  }
  a {
    height: 70%;
    font-size: 0.75rem;;
  }
}

.prod-detail-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
}

.prod-images {
  display: grid;
  grid-template-rows: 5fr 1fr;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 1rem;
  img {
    width:100%;
    border: 1px solid $lightColor;
    &:first-child {
      height: 25rem;
      grid-area: 1 / 1 / span 1 / span 4;
    &:nth-child(n+2) {
      height: 80%;
}}}}

.prod-content {
  p {
    padding: 0.8rem 0;
  }
}

.form-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  input {
    width: 30%;
    margin-bottom: 0.5rem;
  }
  .u_btn {
    width: 80%;
    margin: 0.5rem 0;
  }
  label {
    padding-top: 0.5rem;
  }
}

.contact .form-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}


}