<section class="navbar">
<div class="navbar__hamburger">
  <i class="navbar__icon fas fa-bars"></i>
</div>
<nav class="navbar__full">
  <ul class="navbar__list">
    <li class="navbar__item"><a href="/">Home</a></li>
    <li class="navbar__item"><a href="/">About</a></li>
    <li class="navbar__item"><a href="/">Products</a></li>
    <li class="navbar__item"><a href="/">Sizing</a></li>
    <li class="navbar__item"><a href="/">Contact</a></li>
    <li class="navbar__item"><a href="/"><i class="navbar__icon fas fa-shopping-cart"></i></a></li>
  </ul>
</nav>

</section>