<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/f97d0e5ba4.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
  <title>VIKKI Design | Home</title>
</head>
<body>
  
<%- include('partials/navbar') %>



<%- include('partials/footer') %>

</body>
</html>