<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/f97d0e5ba4.js"
      crossorigin="anonymous"
    ></script>
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
    <title>VIKKI Design | Home</title>
  </head>
  <body>
    <section class="modal"></section>
    <section class="showcase">
      <%- include('partials/navbar') %>
      <div class="showcase__content">
        <img class="showcase__logo" src="/images/logo-white.png" alt="">
        <p class="showcase__text">Your life, your jewellery.</p>
        <p class="showcase__text">Chosen by you, made by VIKKI.</p>
      </div>
    </section>

    <section class="bestsellers">
      <h1 class="bestsellers__heading">Our bestsellers</h1>
      <div class="bestsellers__images">
        <div class="bestsellers__card">
          <img class="bestsellers__image" src="" alt="" />
          <p class="bestsellers__text">Jewellery Piece 1</p>
        </div>
        <div class="bestsellers__card">
          <img class="bestsellers__image" src="" alt="" />
          <p class="bestsellers__text">Jewellery Piece 2</p>
        </div>
        <div class="bestsellers__card">
          <img class="bestsellers__image" src="" alt="" />
          <p class="bestsellers__text">Jewellery Piece 3</p>
        </div>
        <div class="bestsellers__card">
          <img class="bestsellers__image" src="" alt="" />
          <p class="bestsellers__text">Jewellery Piece 4</p>
        </div>
      </div>
      <button class="bestsellers__btn" href=""><a class="bestsellers__link" href="">View Full Range</a></button>
    </section>

    <%- include('partials/footer') %>
    <script src="app.js"></script>
  </body>
</html>
